* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("pexels-rajesh-tp-1624487.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.yousef {
    background-color: rgb(48, 48, 170);
    opacity: 0.3;
    height: 100vh;
    width: 100vw;
}
a {
    text-decoration: none;
}
.left-header {
    display: flex;
    align-items: center;
}
.left-header .fa-utensils {
    color: #FEA116;
    font-weight: bold;
    font-size: 34px;
}
.left-header i {
    padding: 5px;
}
.left-header a {
    display: block;
    padding: 4px;
}
.icon-bar .fa-bars {
    color: #fff;
    font-size: 24px;
    border: none;
    transition: 0.4s;
}
.icon-bar .fa-bars:hover {
    color: #FEA116;
}
.icon-bar .fa-bars:focus {
    border: none;
    outline: none;
}
.navbar .navbar-nav .nav-item .nav-link {
     color: #fff;
     font-size: 18px;
     font-weight: bold;
}
.navbar .navbar-nav .nav-item .active {
    color: #FEA116;
} 
.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link:focus {
    color: #FEA116;
    transition: ease-in-out 0.4s;
}
.containar {
    position: relative;
    top: 160px;
}
.containar .section-1 .left-section-1 {
    position: relative;
    top: 15px;
}
.containar .section-1 .left-section-1 h1 {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.containar .section-1 .left-section-1 p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 600px;
    color: #fff;
}
.containar .section-1 .left-section-1 a {
    color: #fff;
    background-color: #FEA116;
    padding: 16px 27px;
    position: absolute;
    top: 260px;
    font-weight: 600;
    border-radius: 1px;
}
.containar .section-1 .right-section-1 img {
    position: relative;
    top: -60px;
    width: 600px;
    height: 600px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
@media screen and (min-width: 260px) and (max-width: 800px) {
    .containar .section-1 .right-section-1 img {
        position: relative;
        top: -480px;
        width: 400px;
        height: 400px;
        text-align: center;
        margin-left: 20px;
    }
    .containar .section-1 .left-section-1 h1 {
        font-size: 70px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        color: #fff;
        position: relative;
        top: 220px;
        width: 120%;
    }
    .containar .section-1 .left-section-1 p {
        font-family: 'Roboto', sans-serif;
        color: #fff;
        position: relative;
        top: 200px;
        width: 120%;
    }
    .containar .section-1 .left-section-1 a {
        color: #fff;
        background-color: #FEA116;
        padding: 16px 27px;
        position: relative;
        top: 210px;
        font-weight: 600;
        border-radius: 1px;

    }
  

}
