* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("pexels-rajesh-tp-1624487.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;
}  
body::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    display: block;
}
body::after {
    content: "";
    position: absolute;
    top: 908px;
    height: 12000000px;
    width: 100%;
    background-color: #FEA116;
    display: block;
}
a {
    text-decoration: none;
}
nav {
    box-shadow: 0 0 3px;
}
.left-header {
    display: flex;
    align-items: center;
}
.left-header .fa-utensils {
    color: #FEA116;
    font-weight: bold;
    font-size: 34px;
}
.left-header i {
    padding: 5px;
}
.left-header a {
    display: block;
    padding: 4px;
}
.icon-bar .fa-bars {
    color: #fff;
    font-size: 24px;
    border: none;
    transition: 0.4s;
}
.icon-bar .fa-bars:hover {
    color: #FEA116;
}
.icon-bar .fa-bars:focus {
    border: none;
    outline: none;
}
.navbar .navbar-nav .nav-item .nav-link {
     color: #fff;
     font-size: 18px;
     font-weight: bold;
}
.navbar .navbar-nav .nav-item .active {
    color: #FEA116;
} 
.navbar .navbar-nav .nav-item .nav-link:hover,
.navbar .navbar-nav .nav-item .nav-link:focus {
    color: #FEA116;
    transition: ease-in-out 0.4s;
}
.containar {
    position: relative;
    top: 160px;
}
.containar .section-1 .left-section-1 {
    position: relative;
    top: 15px;
}
.containar .section-1 .left-section-1 h1 {
    font-size: 76px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.containar .section-1 .left-section-1 p {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 600px;
    color: #fff;
}
.containar .section-1 .left-section-1 a {
    color: #fff;
    background-color: #FEA116;
    padding: 16px 27px;
    position: absolute;
    top: 280px;
    font-weight: 600;
    border-radius: 1px;
}
.containar .section-1 .right-section-1 img {
    position: relative;
    top: -70px;
    width: 600px;
    height: 600px;
    animation-name: rotate;
    animation-duration: 11s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
 @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

@media screen and (min-width:200px) and (max-width:707px) {
    .containar .section-1 .left-section-1 h1 {
        position: absolute;
        top: 190px;
        font-size: 44px;
        font-weight: bold;
        width: 103%;
        margin: auto;
    }
    .containar .section-1 .right-section-1 img {

        width: 350px;
        height: 350px;
        position: absolute;
        top: -150px;
        margin: auto;
        left: 8%;
    }
    .containar .section-1 .left-section-1 p {
        position: absolute;
        top: 290px;
        width: 100%;
        font-size: 14;
    }
    .containar .section-1 .left-section-1 a {
        width: 90%;
        text-align: center;
        border-radius: 30px;
        position: absolute;
        top: 390px;

    }







/* .swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  } */
